{% extends 'budgethandling/base.html' %}
{% block content %}


<div class="wydatki_naglowek">
        <h1>Dodaj wydatek</h1>
</div>

        <div class="form_body">
            <form action="/expense/" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                    <div class="fieldWrapper form_cell">
                        {{ form.amount.errors }}
                        <label for="{{ form.amount.id_for_label }}">Nazwa wydatku:</label>
                        {{ form.name }}
                    </div>
                    <div class="fieldWrapper form_cell">
                        {{ form.message.errors }}
                        <label for="{{ form.message.id_for_label }}">Wartość:</label>
                        {{ form.amount }}
                    </div>
                    <div class="fieldWrapper form_cell">
                        {{ form.message.errors }}
                        <label for="{{ form.message.id_for_label }}">Kategorie:</label>
                        {{ form.categories }}
                    </div>
                    <div class="fieldWrapper form_cell">
                        {{ form.date.errors }}
                        <label for="{{ form.date.id_for_label }}">Data:</label>
                        {{ form.date }}
                    </div>


                <input type="submit" value="OK">

            </form>
        </div>

{% endblock %}